<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRBU5_uUQfgvh0DoyaRF0M6RCOu1e_gcM</string>
	<key>GCM_SENDER_ID</key>
	<string>804785573757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcmarzaosa.escuelavaliente</string>
	<key>PROJECT_ID</key>
	<string>escuela-valiente-tfg</string>
	<key>STORAGE_BUCKET</key>
	<string>escuela-valiente-tfg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804785573757:ios:b24934776d0e9f2cc94614</string>
</dict>
</plist>